In [1]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import column

conf=SparkConf().setAppName('test').setMaster("local[*]")
sc=SparkContext.getOrCreate(conf)
spark=SparkSession(sc)

In [2]:
import pyspark
import pandas
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('text').master("local").getOrCreate()
sc=spark.sparkContext

In [3]:
customerdf = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('./air_data_customer.csv')
flightdf = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('./air_data_flight.csv')
pointsdf = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('./air_data_points.csv')

In [4]:
customerdf.show(3)
flightdf.show(3)
pointsdf.show(3)

+--------+---------+----+----------+------+--------+----+
|会员卡号| 入会时间|性别|会员卡级别|工作地|所属国家|年龄|
+--------+---------+----+----------+------+--------+----+
|   54993|2006/11/2|  男|         6|  北京|      CN|  31|
|   28065|2007/2/19|  男|         6|  北京|      CN|  42|
|   55106| 2007/2/1|  男|         6|  北京|      CN|  40|
+--------+---------+----+----------+------+--------+----+
only showing top 3 rows

+--------+------------+----------------+----------------+--------------------+------------+------------------------+------------------------+------------------------------+-----------+------------+------------+
|会员卡号|首次飞行时间|观察窗口结束时间|观察窗口飞行次数|观察窗口内飞行总里程|最后飞行日期|观察窗口内第一年票价收入|观察窗口内第二年票价收入|最后乘机时间至观察窗口结束时常| 平均折扣率|平均乘机间隔|最大乘机间隔|
+--------+------------+----------------+----------------+--------------------+------------+------------------------+------------------------+------------------------------+-----------+------------+------------+
|   54993|  2008/12/24|       2014/3/31|             210|              580717|   2014/3/31|                239560.0|                  234188|                             1|0.961639043| 3.483253589|          18|
|   28065|    2007/8/3|       2014/3/31|             140|              293678|   2014/3/25|                171483.0|                  167434|                             7| 1.25231444| 5.194244604|          17|
|   55106|   2007/8/30|       2014/3/31|             135|              283712|   2014/3/21|                163618.0|                  164982|                            11|1.254675516| 5.298507463|          18|
+--------+------------+----------------+----------------+--------------------+------------+------------------------+------------------------+------------------------------+-----------+------------+------------+
only showing top 3 rows

+--------+------------+----------+----------+--------------+--------------+----------+
|会员卡号|积分兑换次数|总精英积分|总基本积分|年平均基本积分|BEGIN_TO_FIRST|总累计积分|
+--------+------------+----------+----------+--------------+--------------+----------+
|   54993|          34|     74460|    505308|       63163.5|             2|    619760|
|   28065|          29|     41288|    362480|       45310.0|             2|    415768|
|   55106|          20|     39711|    351159|     43894.875|            10|    406361|
+--------+------------+----------+----------+--------------+--------------+----------+
only showing top 3 rows

In [5]:
jdbcdf=spark.read.format('jdbc').option("driver:","com.mysql.cj.jdbc.Driver").option("url","jdbc:mysql://127.0.0.1:3306/pysparktest?useUnicode=TRUE"
                                                                                     "&characterEncoding=UTF-8&serverTimezone=UTC"
                                                                                     "&useSSL=false&allowPublicKeyRetrieval=true") \
            .option("dbtable","student").option("user","root").option("password","123456").load()
jdbcdf.show()

+---+-----------------------+------+---+
| id|                   name|gender|age|
+---+-----------------------+------+---+
|  1| 陶博                  |  f   | 18|
|  2|樊蓉槟                 |  m   | 20|
+---+-----------------------+------+---+

In [6]:

listrdd=sc.parallelize([("樊蓉槟",20,588),("陶博",20,590)])
listdf=listrdd.toDF(["name","age","sco"])
listdf.show()

+------+---+---+
|  name|age|sco|
+------+---+---+
|樊蓉槟| 20|588|
|  陶博| 20|590|
+------+---+---+

In [7]:
value=[("樊蓉槟",20),("陶博",21),("熊绍君",20)]
listdf2=spark.createDataFrame(value,["name","age"])
listdf2.show()

+------+---+
|  name|age|
+------+---+
|樊蓉槟| 20|
|  陶博| 21|
|熊绍君| 20|
+------+---+

In [8]:
import pandas as pd
pdf=pd.DataFrame([("樊蓉槟",20),("陶博",21),("熊绍君",20)],columns=["name","age"])
pandasdf=spark.createDataFrame(pdf)
pandasdf.show()

+------+---+
|  name|age|
+------+---+
|樊蓉槟| 20|
|  陶博| 21|
|熊绍君| 20|
+------+---+

In [9]:
from pyspark.sql.types import *
from pyspark.sql import Row
from datetime import datetime
schema=StructType([StructField("name",StringType(),nullable=False),\
                    StructField("score",IntegerType(),nullable=True),\
                    StructField("birthday",DateType(),nullable=True)])
rdd=sc.parallelize([Row("樊蓉槟",588,datetime(2013,1,15)),\
                    Row("陶博",599,datetime(2013,1,15)),\
                    Row("熊绍君",560,datetime(2013,1,15))])
df4=spark.createDataFrame(rdd,schema)
df4.show()

+------+-----+----------+
|  name|score|  birthday|
+------+-----+----------+
|樊蓉槟|  588|2013-01-15|
|  陶博|  599|2013-01-15|
|熊绍君|  560|2013-01-15|
+------+-----+----------+

In [27]:
pointsdf.createOrReplaceTempView("temp_points")
spark.sql("select `会员卡号`,`总累计积分` from temp_points").show(3)

+--------+----------+
|会员卡号|总累计积分|
+--------+----------+
|   54993|    619760|
|   28065|    415768|
|   55106|    406361|
+--------+----------+
only showing top 3 rows

In [12]:
spark.catalog.dropTempView("temp_points")

True

In [28]:
pointsdf.select("会员卡号","总累计积分").show(5)

+--------+----------+
|会员卡号|总累计积分|
+--------+----------+
|   54993|    619760|
|   28065|    415768|
|   55106|    406361|
|   21189|    372204|
|   39546|    338813|
+--------+----------+
only showing top 5 rows

In [29]:
customerdf.show()

+--------+----------+----+----------+----------+--------+----+
|会员卡号|  入会时间|性别|会员卡级别|    工作地|所属国家|年龄|
+--------+----------+----+----------+----------+--------+----+
|   54993| 2006/11/2|  男|         6|      北京|      CN|  31|
|   28065| 2007/2/19|  男|         6|      北京|      CN|  42|
|   55106|  2007/2/1|  男|         6|      北京|      CN|  40|
|   21189| 2008/8/22|  男|         5|        CA|      US|  64|
|   39546| 2009/4/10|  男|         6|      贵州|      CN|  48|
|   56972| 2008/2/10|  男|         6|      广东|      CN|  64|
|   44924| 2006/3/22|  男|         6|      新疆|      CN|  46|
|   22631|  2010/4/9|  女|         6|      浙江|      CN|  50|
|   32197|  2011/6/7|  男|         5|      NULL|      FR|  50|
|   31645|  2010/7/5|  女|         6|      浙江|      CN|  43|
|   58877|2010/11/18|  女|         6|     PARIS|      FR|  34|
|   37994|2004/11/13|  男|         6|         .|      CN|  47|
|   28012|2006/11/23|  男|         5|        CA|      US|  58|
|   54943|2006/10/25|  男|         6|      广东|      CN|  47|
|   57881|  2010/2/1|  女|         6|      广东|      CN|  45|
|    1254| 2008/3/28|  男|         4|CALIFORNIA|      US|  63|
|    8253| 2010/7/15|  男|         6|      新疆|      CN|  48|
|   58899|2010/11/10|  女|         6|      NULL|      FR|  50|
|   26955|  2006/4/6|  男|         6|      新疆|      CN|  54|
|   41616| 2011/8/29|  男|         6|      广东|      CN|  41|
+--------+----------+----+----------+----------+--------+----+
only showing top 20 rows

In [30]:
customerdf.collect()

[Row(会员卡号=54993, 入会时间='2006/11/2', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=31),
 Row(会员卡号=28065, 入会时间='2007/2/19', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=42),
 Row(会员卡号=55106, 入会时间='2007/2/1', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=40),
 Row(会员卡号=21189, 入会时间='2008/8/22', 性别='男', 会员卡级别=5, 工作地='CA', 所属国家='US', 年龄=64),
 Row(会员卡号=39546, 入会时间='2009/4/10', 性别='男', 会员卡级别=6, 工作地='贵州', 所属国家='CN', 年龄=48),
 Row(会员卡号=56972, 入会时间='2008/2/10', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=64),
 Row(会员卡号=44924, 入会时间='2006/3/22', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=46),
 Row(会员卡号=22631, 入会时间='2010/4/9', 性别='女', 会员卡级别=6, 工作地='浙江', 所属国家='CN', 年龄=50),
 Row(会员卡号=32197, 入会时间='2011/6/7', 性别='男', 会员卡级别=5, 工作地=None, 所属国家='FR', 年龄=50),
 Row(会员卡号=31645, 入会时间='2010/7/5', 性别='女', 会员卡级别=6, 工作地='浙江', 所属国家='CN', 年龄=43),
 Row(会员卡号=58877, 入会时间='2010/11/18', 性别='女', 会员卡级别=6, 工作地='PARIS', 所属国家='FR', 年龄=34),
 Row(会员卡号=37994, 入会时间='2004/11/13', 性别='男', 会员卡级别=6, 工作地='.', 所属国家='CN', 年龄=47),
 Row(会员卡号=28012, 入会时间='2006/11/23', 性别='男', 会员卡级别=5, 工作地='CA', 所属国家='US', 年龄=58),
 Row(会员卡号=54943, 入会时间='2006/10/25', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=57881, 入会时间='2010/2/1', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=1254, 入会时间='2008/3/28', 性别='男', 会员卡级别=4, 工作地='CALIFORNIA', 所属国家='US', 年龄=63),
 Row(会员卡号=8253, 入会时间='2010/7/15', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=48),
 Row(会员卡号=58899, 入会时间='2010/11/10', 性别='女', 会员卡级别=6, 工作地=None, 所属国家='FR', 年龄=50),
 Row(会员卡号=26955, 入会时间='2006/4/6', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=54),
 Row(会员卡号=41616, 入会时间='2011/8/29', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=41),
 Row(会员卡号=21501, 入会时间='2008/7/30', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=49),
 Row(会员卡号=41281, 入会时间='2011/6/7', 性别='男', 会员卡级别=6, 工作地='NORD BRABANT', 所属国家='AN', 年龄=None),
 Row(会员卡号=47229, 入会时间='2005/4/10', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=69),
 Row(会员卡号=28474, 入会时间='2010/4/13', 性别='男', 会员卡级别=6, 工作地='CA', 所属国家='US', 年龄=41),
 Row(会员卡号=58472, 入会时间='2010/2/14', 性别='女', 会员卡级别=5, 工作地=None, 所属国家='FR', 年龄=48),
 Row(会员卡号=13942, 入会时间='2010/10/14', 性别='男', 会员卡级别=6, 工作地='FRANCE', 所属国家='FR', 年龄=39),
 Row(会员卡号=45075, 入会时间='2007/2/1', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=46),
 Row(会员卡号=47114, 入会时间='2005/1/15', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=47),
 Row(会员卡号=54619, 入会时间='2006/1/7', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=62),
 Row(会员卡号=12349, 入会时间='2008/6/16', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=46),
 Row(会员卡号=35883, 入会时间='2006/4/11', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=55),
 Row(会员卡号=56091, 入会时间='2004/11/25', 性别='女', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=46),
 Row(会员卡号=2137, 入会时间='2005/4/11', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=69),
 Row(会员卡号=27708, 入会时间='2006/3/20', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=28014, 入会时间='2006/12/1', 性别='女', 会员卡级别=6, 工作地=None, 所属国家='FR', 年龄=48),
 Row(会员卡号=3539, 入会时间='2009/10/13', 性别='男', 会员卡级别=4, 工作地='CALIFORNIA', 所属国家='US', 年龄=53),
 Row(会员卡号=56149, 入会时间='2005/2/13', 性别='男', 会员卡级别=4, 工作地='广东', 所属国家='CN', 年龄=39),
 Row(会员卡号=44936, 入会时间='2006/3/30', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=37),
 Row(会员卡号=62751, 入会时间='2007/5/8', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=45),
 Row(会员卡号=40066, 入会时间='2009/2/27', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=63),
 Row(会员卡号=18793, 入会时间='2006/4/25', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=48),
 Row(会员卡号=13963, 入会时间='2011/1/18', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=63),
 Row(会员卡号=46084, 入会时间='2007/1/4', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=54),
 Row(会员卡号=58798, 入会时间='2010/5/4', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=51),
 Row(会员卡号=56089, 入会时间='2004/12/4', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=49),
 Row(会员卡号=58693, 入会时间='2010/12/11', 性别='男', 会员卡级别=6, 工作地=None, 所属国家='FR', 年龄=39),
 Row(会员卡号=28780, 入会时间='2012/7/13', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=27836, 入会时间='2006/7/16', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=59),
 Row(会员卡号=38073, 入会时间='2005/1/26', 性别='男', 会员卡级别=6, 工作地='湖南', 所属国家='CN', 年龄=76),
 Row(会员卡号=22629, 入会时间='2010/7/15', 性别='男', 会员卡级别=5, 工作地='TOKYO-TO', 所属国家='JP', 年龄=49),
 Row(会员卡号=12326, 入会时间='2008/5/21', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=40),
 Row(会员卡号=24222, 入会时间='2012/1/8', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=51),
 Row(会员卡号=916, 入会时间='2006/11/18', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=46),
 Row(会员卡号=45008, 入会时间='2007/12/10', 性别='男', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=54),
 Row(会员卡号=11523, 入会时间='2007/7/6', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=49),
 Row(会员卡号=56088, 入会时间='2004/12/3', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=41),
 Row(会员卡号=56573, 入会时间='2007/11/26', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),
 Row(会员卡号=38883, 入会时间='2008/2/2', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=48),
 Row(会员卡号=38035, 入会时间='2004/12/28', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=42),
 Row(会员卡号=11034, 入会时间='2005/1/26', 性别='男', 会员卡级别=5, 工作地='.', 所属国家='CN', 年龄=59),
 Row(会员卡号=47143, 入会时间='2005/2/17', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=48),
 Row(会员卡号=29033, 入会时间='2004/11/19', 性别='男', 会员卡级别=6, 工作地='HK', 所属国家='HK', 年龄=60),
 Row(会员卡号=16812, 入会时间='2010/6/9', 性别='男', 会员卡级别=6, 工作地='Selangor Darul Ehsan', 所属国家='MY', 年龄=52),
 Row(会员卡号=5241, 入会时间='2011/5/14', 性别='男', 会员卡级别=6, 工作地='浙江', 所属国家='CN', 年龄=31),
 Row(会员卡号=49208, 入会时间='2010/5/28', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=44),
 Row(会员卡号=38241, 入会时间='2005/8/13', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=53),
 Row(会员卡号=38456, 入会时间='2007/11/15', 性别='男', 会员卡级别=5, 工作地='CALIFORNIA', 所属国家='US', 年龄=39),
 Row(会员卡号=44377, 入会时间='2010/7/10', 性别='男', 会员卡级别=5, 工作地='四川', 所属国家='CN', 年龄=53),
 Row(会员卡号=49737, 入会时间='2010/10/30', 性别='男', 会员卡级别=6, 工作地='福建', 所属国家='CN', 年龄=30),
 Row(会员卡号=47919, 入会时间='2008/12/14', 性别='女', 会员卡级别=6, 工作地='VIC', 所属国家='AU', 年龄=43),
 Row(会员卡号=23528, 入会时间='2012/8/15', 性别='男', 会员卡级别=6, 工作地='CA', 所属国家='US', 年龄=33),
 Row(会员卡号=58088, 入会时间='2009/10/19', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=55),
 Row(会员卡号=51079, 入会时间='2011/12/21', 性别='男', 会员卡级别=6, 工作地='上海', 所属国家='CN', 年龄=37),
 Row(会员卡号=19420, 入会时间='2007/11/18', 性别='男', 会员卡级别=6, 工作地='湖南', 所属国家='CN', 年龄=47),
 Row(会员卡号=58753, 入会时间='2010/10/13', 性别='男', 会员卡级别=5, 工作地='PARIS', 所属国家='FR', 年龄=28),
 Row(会员卡号=13517, 入会时间='2010/8/14', 性别='女', 会员卡级别=6, 工作地='PARIS', 所属国家='FR', 年龄=45),
 Row(会员卡号=56048, 入会时间='2013/3/15', 性别='男', 会员卡级别=6, 工作地='Noord-Holland', 所属国家='NL', 年龄=46),
 Row(会员卡号=50434, 入会时间='2011/6/9', 性别='男', 会员卡级别=4, 工作地=None, 所属国家='US', 年龄=44),
 Row(会员卡号=13869, 入会时间='2010/10/26', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=42),
 Row(会员卡号=47432, 入会时间='2005/10/21', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=60658, 入会时间='2012/6/29', 性别='女', 会员卡级别=6, 工作地='FR', 所属国家='FR', 年龄=37),
 Row(会员卡号=9744, 入会时间='2006/7/13', 性别='男', 会员卡级别=5, 工作地='北京', 所属国家='CN', 年龄=53),
 Row(会员卡号=18111, 入会时间='2008/9/19', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=44),
 Row(会员卡号=42444, 入会时间='2012/4/25', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=67),
 Row(会员卡号=11055, 入会时间='2005/2/17', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=47107, 入会时间='2004/11/18', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=57),
 Row(会员卡号=62880, 入会时间='2006/5/8', 性别='男', 会员卡级别=6, 工作地='福建', 所属国家='CN', 年龄=55),
 Row(会员卡号=49441, 入会时间='2010/7/3', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=20569, 入会时间='2007/6/28', 性别='女', 会员卡级别=6, 工作地='重庆', 所属国家='CN', 年龄=35),
 Row(会员卡号=47687, 入会时间='2007/10/5', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=70),
 Row(会员卡号=37305, 入会时间='2008/6/13', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=40),
 Row(会员卡号=58189, 入会时间='2011/1/31', 性别='男', 会员卡级别=6, 工作地='广西', 所属国家='CN', 年龄=54),
 Row(会员卡号=25857, 入会时间='2007/1/26', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=43),
 Row(会员卡号=951, 入会时间='2006/11/28', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=46),
 Row(会员卡号=4178, 入会时间='2010/4/13', 性别='男', 会员卡级别=5, 工作地='CA91030', 所属国家='US', 年龄=41),
 Row(会员卡号=2010, 入会时间='2004/11/26', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=40),
 Row(会员卡号=38290, 入会时间='2005/9/23', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=66),
 Row(会员卡号=57622, 入会时间='2011/4/14', 性别='男', 会员卡级别=6, 工作地='ZUID HOLLAND', 所属国家='NL', 年龄=55),
 Row(会员卡号=2001, 入会时间='2004/11/11', 性别='女', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=39),
 Row(会员卡号=60311, 入会时间='2012/4/27', 性别='男', 会员卡级别=6, 工作地='香港', 所属国家='HK', 年龄=49),
 Row(会员卡号=36030, 入会时间='2008/7/28', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=51),
 Row(会员卡号=35766, 入会时间='2008/9/8', 性别='男', 会员卡级别=6, 工作地='吉林', 所属国家='CN', 年龄=56),
 Row(会员卡号=33319, 入会时间='2012/4/28', 性别='男', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=41),
 Row(会员卡号=55096, 入会时间='2007/1/3', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=30681, 入会时间='2010/5/26', 性别='男', 会员卡级别=6, 工作地=None, 所属国家='JP', 年龄=55),
 Row(会员卡号=17837, 入会时间='2005/10/22', 性别='男', 会员卡级别=6, 工作地='吉林', 所属国家='CN', 年龄=48),
 Row(会员卡号=3872, 入会时间='2009/1/18', 性别='男', 会员卡级别=6, 工作地='香港', 所属国家='HK', 年龄=61),
 Row(会员卡号=56201, 入会时间='2005/4/5', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=36),
 Row(会员卡号=4468, 入会时间='2011/9/14', 性别='女', 会员卡级别=6, 工作地='ANDE', 所属国家='FR', 年龄=33),
 Row(会员卡号=32602, 入会时间='2011/10/9', 性别='男', 会员卡级别=6, 工作地='CA', 所属国家='US', 年龄=55),
 Row(会员卡号=11277, 入会时间='2005/8/26', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=45117, 入会时间='2010/11/17', 性别='男', 会员卡级别=6, 工作地='GA', 所属国家='US', 年龄=30),
 Row(会员卡号=19051, 入会时间='2006/11/28', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=42),
 Row(会员卡号=19371, 入会时间='2007/5/31', 性别='男', 会员卡级别=5, 工作地='NSW', 所属国家='AU', 年龄=53),
 Row(会员卡号=60020, 入会时间='2012/6/7', 性别='女', 会员卡级别=4, 工作地='LA', 所属国家='US', 年龄=49),
 Row(会员卡号=2007, 入会时间='2004/11/25', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=43),
 Row(会员卡号=56093, 入会时间='2004/11/24', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=59),
 Row(会员卡号=62762, 入会时间='2008/8/23', 性别='男', 会员卡级别=6, 工作地='辽宁', 所属国家='CN', 年龄=42),
 Row(会员卡号=49215, 入会时间='2010/5/7', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=40),
 Row(会员卡号=20362, 入会时间='2005/7/29', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=59),
 Row(会员卡号=38022, 入会时间='2004/12/2', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=36),
 Row(会员卡号=47179, 入会时间='2005/3/16', 性别='男', 会员卡级别=4, 工作地='广东', 所属国家='CN', 年龄=54),
 Row(会员卡号=17903, 入会时间='2008/5/30', 性别='男', 会员卡级别=6, 工作地='吉林', 所属国家='CN', 年龄=48),
 Row(会员卡号=45581, 入会时间='2005/12/29', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=49),
 Row(会员卡号=47255, 入会时间='2005/4/23', 性别='女', 会员卡级别=5, 工作地='湖北', 所属国家='CN', 年龄=48),
 Row(会员卡号=876, 入会时间='2006/8/14', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=41),
 Row(会员卡号=6088, 入会时间='2011/11/14', 性别='男', 会员卡级别=5, 工作地='上海', 所属国家='CN', 年龄=46),
 Row(会员卡号=50931, 入会时间='2012/12/20', 性别='女', 会员卡级别=6, 工作地='CA', 所属国家='US', 年龄=47),
 Row(会员卡号=38443, 入会时间='2007/6/8', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=8850, 入会时间='2006/4/17', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=51),
 Row(会员卡号=59307, 入会时间='2011/3/15', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=34),
 Row(会员卡号=20121, 入会时间='2004/11/30', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=66),
 Row(会员卡号=53451, 入会时间='2012/6/26', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=50),
 Row(会员卡号=59669, 入会时间='2012/4/11', 性别='男', 会员卡级别=4, 工作地='广东', 所属国家='CN', 年龄=62),
 Row(会员卡号=49369, 入会时间='2009/10/19', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=63),
 Row(会员卡号=52814, 入会时间='2010/10/9', 性别='男', 会员卡级别=6, 工作地='辽宁', 所属国家='CN', 年龄=44),
 Row(会员卡号=57377, 入会时间='2008/6/20', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=50),
 Row(会员卡号=31219, 入会时间='2009/11/13', 性别='男', 会员卡级别=6, 工作地='上海', 所属国家='CN', 年龄=42),
 Row(会员卡号=29392, 入会时间='2013/3/3', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=33),
 Row(会员卡号=12578, 入会时间='2006/6/29', 性别='女', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=19439, 入会时间='2008/4/1', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=51),
 Row(会员卡号=29034, 入会时间='2004/11/24', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=2012, 入会时间='2004/11/26', 性别='男', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=51),
 Row(会员卡号=47194, 入会时间='2005/4/2', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=53),
 Row(会员卡号=26406, 入会时间='2009/8/27', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=56),
 Row(会员卡号=56437, 入会时间='2005/11/16', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=56),
 Row(会员卡号=59509, 入会时间='2012/5/2', 性别='男', 会员卡级别=5, 工作地='辽宁', 所属国家='CN', 年龄=39),
 Row(会员卡号=13061, 入会时间='2009/3/29', 性别='男', 会员卡级别=4, 工作地='广东', 所属国家='CN', 年龄=52),
 Row(会员卡号=12155, 入会时间='2009/6/4', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=31),
 Row(会员卡号=26960, 入会时间='2006/4/15', 性别='男', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=47),
 Row(会员卡号=1123, 入会时间='2007/5/8', 性别='男', 会员卡级别=4, 工作地='NOORD HOLLAND', 所属国家='NL', 年龄=51),
 Row(会员卡号=12536, 入会时间='2010/5/27', 性别='男', 会员卡级别=6, 工作地='CA', 所属国家='US', 年龄=78),
 Row(会员卡号=43627, 入会时间='2009/12/27', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=43),
 Row(会员卡号=37021, 入会时间='2006/12/25', 性别='男', 会员卡级别=6, 工作地='香港', 所属国家='HK', 年龄=51),
 Row(会员卡号=40792, 入会时间='2010/8/8', 性别='女', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=28),
 Row(会员卡号=22418, 入会时间='2010/8/6', 性别='男', 会员卡级别=6, 工作地='IIE DE FRANCE', 所属国家='FR', 年龄=37),
 Row(会员卡号=27900, 入会时间='2006/9/15', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=49),
 Row(会员卡号=21245, 入会时间='2008/5/5', 性别='男', 会员卡级别=6, 工作地='上海', 所属国家='CN', 年龄=46),
 Row(会员卡号=2006, 入会时间='2004/11/24', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=11028, 入会时间='2005/1/22', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),
 Row(会员卡号=62642, 入会时间='2007/2/7', 性别='男', 会员卡级别=6, 工作地='吉林', 所属国家='CN', 年龄=61),
 Row(会员卡号=29051, 入会时间='2004/12/7', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=46),
 Row(会员卡号=19073, 入会时间='2006/11/9', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=39),
 Row(会员卡号=58686, 入会时间='2011/1/19', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=32),
 Row(会员卡号=781, 入会时间='2006/7/23', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=49),
 Row(会员卡号=36780, 入会时间='2006/7/10', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=48),
 Row(会员卡号=1359, 入会时间='2010/1/13', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=29076, 入会时间='2005/1/19', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=56),
 Row(会员卡号=49714, 入会时间='2011/3/30', 性别='女', 会员卡级别=5, 工作地='CA', 所属国家='US', 年龄=49),
 Row(会员卡号=55458, 入会时间='2010/2/12', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=30),
 Row(会员卡号=59905, 入会时间='2011/9/13', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=41),
 Row(会员卡号=28087, 入会时间='2007/2/10', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=64),
 Row(会员卡号=14825, 入会时间='2011/9/21', 性别='男', 会员卡级别=6, 工作地='湖南', 所属国家='CN', 年龄=45),
 Row(会员卡号=20173, 入会时间='2005/1/23', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=53),
 Row(会员卡号=18700, 入会时间='2006/1/15', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=43),
 Row(会员卡号=47040, 入会时间='2013/3/16', 性别='男', 会员卡级别=6, 工作地=None, 所属国家='US', 年龄=56),
 Row(会员卡号=5040, 入会时间='2011/2/25', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=36),
 Row(会员卡号=19751, 入会时间='2011/5/12', 性别='女', 会员卡级别=5, 工作地='CA', 所属国家='US', 年龄=33),
 Row(会员卡号=9980, 入会时间='2006/12/6', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=38079, 入会时间='2005/3/2', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=49),
 Row(会员卡号=38098, 入会时间='2005/3/31', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=33282, 入会时间='2012/4/9', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=51),
 Row(会员卡号=53999, 入会时间='2007/4/4', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=50),
 Row(会员卡号=58806, 入会时间='2010/8/8', 性别='男', 会员卡级别=4, 工作地=None, 所属国家='FR', 年龄=35),
 Row(会员卡号=18869, 入会时间='2006/6/20', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=74),
 Row(会员卡号=47265, 入会时间='2005/5/27', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=39),
 Row(会员卡号=29997, 入会时间='2008/2/18', 性别='男', 会员卡级别=5, 工作地='吉林', 所属国家='CN', 年龄=47),
 Row(会员卡号=56325, 入会时间='2005/7/24', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=44),
 Row(会员卡号=13606, 入会时间='2010/8/10', 性别='男', 会员卡级别=6, 工作地=None, 所属国家='MX', 年龄=40),
 Row(会员卡号=2104, 入会时间='2005/3/20', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=40556, 入会时间='2010/2/13', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=39),
 Row(会员卡号=11511, 入会时间='2010/5/17', 性别='男', 会员卡级别=6, 工作地='上海', 所属国家='CN', 年龄=55),
 Row(会员卡号=49752, 入会时间='2010/9/18', 性别='男', 会员卡级别=6, 工作地='0', 所属国家='FR', 年龄=51),
 Row(会员卡号=58064, 入会时间='2009/11/1', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=19497, 入会时间='2009/8/27', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=36),
 Row(会员卡号=21578, 入会时间='2008/9/2', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=49),
 Row(会员卡号=45772, 入会时间='2006/6/5', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=57),
 Row(会员卡号=51134, 入会时间='2011/12/18', 性别='男', 会员卡级别=5, 工作地='PARIS', 所属国家='FR', 年龄=54),
 Row(会员卡号=53729, 入会时间='2008/4/20', 性别='男', 会员卡级别=6, 工作地='吉林', 所属国家='CN', 年龄=47),
 Row(会员卡号=44980, 入会时间='2005/5/1', 性别='男', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=49),
 Row(会员卡号=11139, 入会时间='2005/4/27', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=46),
 Row(会员卡号=11327, 入会时间='2005/10/12', 性别='男', 会员卡级别=4, 工作地='CALIFORNIA', 所属国家='US', 年龄=48),
 Row(会员卡号=20131, 入会时间='2004/11/23', 性别='女', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=64),
 Row(会员卡号=47276, 入会时间='2005/5/29', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=13323, 入会时间='2009/11/13', 性别='男', 会员卡级别=6, 工作地='湖北省', 所属国家='CN', 年龄=63),
 Row(会员卡号=56336, 入会时间='2005/8/2', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=49),
 Row(会员卡号=19460, 入会时间='2008/12/13', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=44),
 Row(会员卡号=15014, 入会时间='2012/1/4', 性别='男', 会员卡级别=5, 工作地='FL', 所属国家='US', 年龄=66),
 Row(会员卡号=21884, 入会时间='2009/5/8', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),
 Row(会员卡号=11030, 入会时间='2005/1/20', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),
 Row(会员卡号=10164, 入会时间='2007/5/27', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=45),
 Row(会员卡号=2196, 入会时间='2005/5/20', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=68),
 Row(会员卡号=38329, 入会时间='2005/11/17', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=65),
 Row(会员卡号=3092, 入会时间='2008/2/26', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=60),
 Row(会员卡号=31122, 入会时间='2010/12/1', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=56),
 Row(会员卡号=44276, 入会时间='2009/8/1', 性别='女', 会员卡级别=6, 工作地='黑龙江', 所属国家='CN', 年龄=40),
 Row(会员卡号=38451, 入会时间='2007/6/4', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=48),
 Row(会员卡号=30926, 入会时间='2009/3/14', 性别='男', 会员卡级别=5, 工作地=None, 所属国家='CN', 年龄=33),
 Row(会员卡号=36573, 入会时间='2006/1/25', 性别='女', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=36),
 Row(会员卡号=17463, 入会时间='2011/1/4', 性别='男', 会员卡级别=6, 工作地='新疆', 所属国家='CN', 年龄=27),
 Row(会员卡号=20144, 入会时间='2004/12/24', 性别='女', 会员卡级别=6, 工作地='广东省', 所属国家='CN', 年龄=60),
 Row(会员卡号=20731, 入会时间='2007/9/17', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=56),
 Row(会员卡号=2129, 入会时间='2005/4/6', 性别='男', 会员卡级别=6, 工作地='河南省', 所属国家='CN', 年龄=42),
 Row(会员卡号=53365, 入会时间='2010/12/17', 性别='女', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=34),
 Row(会员卡号=3018, 入会时间='2008/2/11', 性别='男', 会员卡级别=5, 工作地='新疆', 所属国家='CN', 年龄=47),
 Row(会员卡号=36912, 入会时间='2006/11/1', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=55),
 Row(会员卡号=1159, 入会时间='2007/5/28', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=53),
 Row(会员卡号=39380, 入会时间='2008/7/21', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=32),
 Row(会员卡号=12218, 入会时间='2009/3/3', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=62),
 Row(会员卡号=38199, 入会时间='2005/6/16', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=53),
 Row(会员卡号=38134, 入会时间='2005/4/17', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=40),
 Row(会员卡号=49346, 入会时间='2010/4/28', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=44),
 Row(会员卡号=46325, 入会时间='2007/11/29', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=53),
 Row(会员卡号=27661, 入会时间='2006/1/16', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=44),
 Row(会员卡号=39773, 入会时间='2012/5/8', 性别='女', 会员卡级别=4, 工作地='California', 所属国家='US', 年龄=30),
 Row(会员卡号=3321, 入会时间='2008/8/31', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=39),
 Row(会员卡号=47224, 入会时间='2005/4/19', 性别='男', 会员卡级别=6, 工作地=None, 所属国家='CN', 年龄=36),
 Row(会员卡号=14675, 入会时间='2011/8/20', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=47),
 Row(会员卡号=36635, 入会时间='2006/3/28', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=55),
 Row(会员卡号=20685, 入会时间='2007/7/14', 性别='男', 会员卡级别=6, 工作地='河南', 所属国家='CN', 年龄=56),
 Row(会员卡号=20116, 入会时间='2004/11/20', 性别='男', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=37),
 Row(会员卡号=27657, 入会时间='2006/2/2', 性别='男', 会员卡级别=4, 工作地=None, 所属国家='US', 年龄=66),
 Row(会员卡号=30225, 入会时间='2008/6/1', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),
 Row(会员卡号=39847, 入会时间='2010/3/10', 性别='男', 会员卡级别=5, 工作地='广东', 所属国家='CN', 年龄=47),
 Row(会员卡号=19134, 入会时间='2007/1/9', 性别='女', 会员卡级别=6, 工作地='广东', 所属国家='CN', 年龄=38),

In [31]:
customerdf.take(5)

[Row(会员卡号=54993, 入会时间='2006/11/2', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=31),
 Row(会员卡号=28065, 入会时间='2007/2/19', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=42),
 Row(会员卡号=55106, 入会时间='2007/2/1', 性别='男', 会员卡级别=6, 工作地='北京', 所属国家='CN', 年龄=40),
 Row(会员卡号=21189, 入会时间='2008/8/22', 性别='男', 会员卡级别=5, 工作地='CA', 所属国家='US', 年龄=64),
 Row(会员卡号=39546, 入会时间='2009/4/10', 性别='男', 会员卡级别=6, 工作地='贵州', 所属国家='CN', 年龄=48)]

In [32]:
customerdf.describe("年龄").show()

+-------+-----------------+
|summary|             年龄|
+-------+-----------------+
|  count|            62568|
|   mean|42.47634573583941|
| stddev|9.885914823660341|
|    min|                6|
|    max|              110|
+-------+-----------------+

In [33]:
customerdf.printSchema()
flightdf.printSchema()
pointsdf.printSchema()

root
 |-- 会员卡号: integer (nullable = true)
 |-- 入会时间: string (nullable = true)
 |-- 性别: string (nullable = true)
 |-- 会员卡级别: integer (nullable = true)
 |-- 工作地: string (nullable = true)
 |-- 所属国家: string (nullable = true)
 |-- 年龄: integer (nullable = true)

root
 |-- 会员卡号: integer (nullable = true)
 |-- 首次飞行时间: string (nullable = true)
 |-- 观察窗口结束时间: string (nullable = true)
 |-- 观察窗口飞行次数: integer (nullable = true)
 |-- 观察窗口内飞行总里程: integer (nullable = true)
 |-- 最后飞行日期: string (nullable = true)
 |-- 观察窗口内第一年票价收入: double (nullable = true)
 |-- 观察窗口内第二年票价收入: integer (nullable = true)
 |-- 最后乘机时间至观察窗口结束时常: integer (nullable = true)
 |-- 平均折扣率: double (nullable = true)
 |-- 平均乘机间隔: double (nullable = true)
 |-- 最大乘机间隔: integer (nullable = true)

root
 |-- 会员卡号: integer (nullable = true)
 |-- 积分兑换次数: integer (nullable = true)
 |-- 总精英积分: integer (nullable = true)
 |-- 总基本积分: integer (nullable = true)
 |-- 年平均基本积分: double (nullable = true)
 |-- BEGIN_TO_FIRST: integer (nullable = true)
 |-- 总累计积分: integer (nullable = true)